button {

    &:active,
    &:focus,
    &:hover {
        outline: 0;
    }
}

.button {
    text-transform: uppercase;
    border: solid 1px $primary;
    text-decoration: none;
    height: 5rem;
    line-height: 5rem;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 96% center;
    transition: .2s all ease-in-out;
    padding: 0 2rem;
    background-color: $primaryWhite;
    position: relative;
    font-size: .9em;
    font-family: FedraSansBold, Arial, Helvetica, sans-serif;

    &:hover {
        text-decoration: none;
        color: $primary;
        box-shadow: inset 0px 0px 0px 3px $primary;
    }
}

.button--arrow {
    background-image: url(../images/arrow-black.svg);
    background-repeat: no-repeat;
}

.button--arrow:hover {
    background-image: url(../images/arrow-white.svg);
    background-repeat: no-repeat;
}

.button--black {
    background-color: $primary;
    color: $primaryWhite;
    background-image: url(../images/arrow-white.svg);
    background-repeat: no-repeat;
}


.button--black {
    &::after {
        background-color: $primary;
    }

    &:hover {
        background-image: url(../images/arrow-black.svg);
        background-repeat: no-repeat;
        color: $primary;
    }
}
