.home {
    .page-section{
        &:last-child{
            padding-bottom: 0;
        }
    }
    &-text {
        margin-top: 10rem;
        font-size: 5.6rem;
        text-transform: uppercase;
        line-height: 1.4;
        letter-spacing: 1px;
        @include lightFont;
        letter-spacing: normal;
        margin-right: 11rem;
        @include respond(tab-port){
            font-size: 4rem;
            margin-top: 6rem;
            margin-right: auto;
        }
    }
    &-image {
        &bg{
            height: 50rem;
        } 
    }
    &-press-carousel {
        a{
            img{
                max-height: 2rem;
                transition: transform 0.2s ease-in-out;
                @include respond(tab-port) {
                    max-height: 4rem;
                }
                &:hover {
                    transform: scale(1.1)
                }
            }
        }
    }
    .entry-header {
        height: 100vh;
        position: relative;
        margin-top: -9rem;
        @include respond(tab-port) {
            height: 60rem;
            margin-top: 0;
        }
    }

    .bg-video {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        overflow: hidden;
        &__poster{
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
            &--mobile{
                display: none;
                @include respond(tab-port){
                    display: block
                }
            }
            &--desktop{
                display: block;
                @include respond(tab-port){
                    display: none
                }
            }
        }
        
        &__title {
            z-index: 2;
            font-size: 6rem;
            max-width: 48rem;
            margin-bottom: 5rem;
            line-height: 6.5rem;
            color: $primaryWhite;
            text-transform: uppercase;
            @include respond(tab-port){
                font-size: 3.8rem;
                max-width: 34rem;
            }
        }
        &::after {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0px;
            left: 0px;
            z-index: 1;
            background: $primary;
            opacity: 0.3;
        }
        .container {
            padding-left: calc((100vw - 144rem)/2);
            position: absolute;
            left: 0;
            bottom: 10rem;
            z-index: 2;
            @include respond(tab-land) {
                padding-left: 4.5rem;
                bottom: 4.5rem;
            }
        }
    }

    .bg-video__content {
        height: 100%;
        width: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        @include respond(tab-port) {
            display: none
        }
    }


    &-taste {
        a{
            text-decoration: none;
            &:hover {
                opacity: 1;
                h2, h4{
                    opacity: 0.6;
                }
                
            }
        }
        &__item {
            box-sizing: content-box;
            width: 100%;
            height: 20rem;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border: 2px dashed transparent;
            transition: 0.15s ease-in-out all;
            &__title, &__subtitle {
                text-transform: uppercase;
                margin: 0;
                padding:0;
            }
            &__subtitle {
                font-size: 1.8rem;
                line-height: 5rem;
                font-family: FedraSansLight, Arial, Helvetica, sans-serif;
            }
            &__title {
                font-size: 2.2rem;
                line-height: 1;
                max-width: 16rem;
                transition: 0.15s ease-in-out all;
                @include respond(tab-port){
                    margin-bottom: 5rem;
                }
            }
        }
    }
}
