//
// Color system
//

$primary : #000;
$primaryWhite : #FFFFFF;
$text : $primary;
$secondary : #8a8a8a;
$secondaryTwo: #dddede;
$lightGrey: #f6f6f6;
$buttonGrey: $primary;

// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;