#wrapper-footer-full {
    padding: 2rem 0;
    font-size: 1em;
    background-color: $primary;
    color: $primaryWhite;
    padding-top: 10rem;
    .row {
        display: flex;
        #text-7, #text-2 {
            width: 70%;
        }
        #text-3 {
            display: none;
        }
        #text-4, #text-6 {
            width: 15%;
        }
        #text-5 {
            width: 15%;
        }
        #text-4, #text-5, #text-6 {
            p, a{
                @include lightFont;
                line-height: 4rem;
            }   
        }
        @include respond(tab-port){
            flex-wrap: wrap;
            #text-7, #text-2{
                width: 100%;
            }
            #text-4, #text-5, #text-6{
                width: 50%;
                margin-top: 10rem;
                p, a{
                    line-height: 6rem;
                }   
            }
        }
    }
    .widget-title, a, p{
        color: $primaryWhite;
        text-decoration: none;
        @include regularFont;
    }
    .widget-title{
        font-size: 1.8rem;
        line-height: 2.4rem;
    }
    form {
        max-width: 47rem;
        position: relative;
        label, input[type="email"] {
            width: 100%;
            @include lightFont;
            text-transform: uppercase;
        }
        label{
            font-size: 1.8rem;
            line-height: 2.4rem;
        }
        input[type="email"] {
            line-height: 5rem;
            border: solid 1px $primaryWhite;
            background-color: $buttonGrey;
            color: $primaryWhite;
            padding: 0 2rem;
            font-size: 1.8rem;
            margin-top: 2rem;
            transition: background-color 0.2s ease-in-out;
            &:focus{
                background-color: #979797;
            }
        }
        ::placeholder{
            color: $primaryWhite;
        }
        input[type=submit] {
            background-image: url(../images/arrow.svg);
            background-repeat: no-repeat;
            background-size: 100%;
            width: 2.8rem;
            height: 2.4rem;
            position: absolute;
            text-indent: -500rem;
            right: 2rem;
            bottom: 1.4rem;
            background-color: transparent;
            border: none;
            cursor: pointer;
            -webkit-transition: -webkit-transform .2s ease-in-out;
            transition: -webkit-transform .2s ease-in-out;
            transition: transform .2s ease-in-out;
            transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
            &:hover {
                transform: scale(1.25);
            }
        }
        input[type=email]:-webkit-autofill, input:-webkit-autofill {
            color: $primaryWhite !important;
            background-color: $primary !important;
        }
        .mc4wp-response {
            position: absolute;
            top: -16rem;
            p{
                font-size: 1.6rem;
                color: lightgreen;
            }
        }
        @include respond(phone){
            max-width: 100%;
        }
    }
}

.site-info {
    padding: 4rem 0;
    background-color: $primary;
    .logo {
        background-image: url(../images/if-logo.svg);
        background-repeat: no-repeat;
        background-size: 100%;
        width: 11rem;
        height: 4.5rem;
        display: inline-block;
    }
    .back-to-top {
        font-size: .8em;
        float: right;
        color: $primaryWhite;
        text-transform: uppercase;
        background-color: $primary;
        border: none;
        cursor: pointer;
        @include regularFont;
        &__arrow {
            background-image: url(../images/chevron-white.svg);
            background-repeat: no-repeat;
            margin-left: 1rem;
            display: inline-block;
            width: 2rem;
            height: 2rem;
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
            background-position-y: -5px;
        }
    }
}